
{% extends 'base2.html' %}

{% block 'content' %}

<div class = "text-2c" style = "width:700px;font-size:20px;">
  <div style = "margin-top:50px;font-size:30px;text-decoration:underline;margin-bottom:30px;">


  Delete Auction
</div>

<p>Are you sure you want to delete this auction?</p>

    <!-- <div class = "table"> -->
      <table style = "width:300px;">
          <tr>
              <td>
              Name:
              </td>
              <td>
              {{object.item}}
              </td>
          </tr>

          <tr>
              <td>
            Current Price:
              </td>
              <td>
              {{object.current_price}}
              </td>
          </tr>

    <!--
          <tr>
              <td>
              Name
              </td>
              <td>
            {{object.bids}}
              </td>
          </tr> -->




  </table>
	<form action="" method="POST">
	  {% csrf_token %}

	  <input type="submit" value="Yes, delete." style = "font-size:20px;">
	  <a href="list" style = "text-decoration:none;color:black;">No, cancel.</a>
	</form>


<form method="post" action="" enctype="multipart/form-data" accept-charset="UTF-8" class="sidebar-form">
      {% csrf_token %}

              {{ form.as_p }}<br>



              <input name="" type="submit" value="Add"  ></input>


    </form>
</div>

{% endblock %}
